*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 400px;
    border-radius: 50%;
    border: 2px yellow solid;
}
.container{
    margin: auto;
    width: 1000px;
    border: 5px gray solid;
    display: flex;
    gap: 50px;
    padding: 10px;
    background-color: rgba(245,245,245,0.3);
    align-items: center;
}
.text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: midnightblue;
    width: 500px;
}